.lectureSlotComponent {
  $width: 150px;
  $height: 90px;
  $sectionHeight: $height / 3;

  overflow: hidden;
  position: relative;
  width: $width;
  height: $height;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $sectionHeight;
    background-color: #FFCC57;

    display: flex;
    align-items: center;

    .title {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: 300;
      color: white;
    }
  }

  .body {
    position: absolute;
    left: 0;
    top: $sectionHeight;
    width: $width;
    height: $sectionHeight;
    background-color: white;

    display: flex;
    align-items: center;

    transition: left 300ms;

    .time {
      width: 100%;
      text-align: center;
      font-weight: 300;

      .start, .end {
        font-weight: normal;
      }
    }
  }

  .actionBar {
    z-index: 99;
    position: absolute;
    left: 0;
    top: $sectionHeight;
    width: $width;
    height: $sectionHeight;
    box-sizing: content-box;
    border-left: 1px solid #c7c7c7;
    background-color: transparent;

    .actionButton {
      position: relative;
      color: black;
      width: 50%;
      text-align: center;
      font-size: 20px;
      padding-top: 5px;
      height: 100%;

      &.editButton {
        right: -100px;
        transition: right 300ms;
        background-color: white;

        &:hover {
          background-color: rgba(238, 238, 238, 0.77);
        }
      }

      &.deleteButton {
        color: white;
        background-color: rgb(255, 0, 7);
        left: -100px;
        transition: left 300ms;

        &:hover {
          background-color: rgba(255, 0, 7, 0.77);
        }
      }
    }

    .buttonContainer {
      display: inline-block;
      width: 50%;
      height: 100%;

      .actionButton {
        width: 100%;
      }
    }
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: $width;
    height: $sectionHeight;
    background-color: #FFCC57;

    display: flex;
    align-items: center;

    .location {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: 300;
      color: white;
    }
  }

  &:hover {
    .actionButton {
      &.editButton {
        right: 0;
      }

      &.deleteButton {
        left: 0;
      }
    }
  }
}