/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #EFAB43;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#ea830d, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #efb30e;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

// Kumquat
$page-background: #fff;
$brand-main: #FF9800;
$brand-error: #dd2c00;
$footer-height: 70px;
$header-height: 51px;

$border-light: #E6E6E6;