@import '../../../theme/variables';

.editClassFormPopover {
  //noinspection CssInvalidPropertyValue
  min-height: auto;
  height: auto;
  padding: 0;

  h3 {
    background-color: $brand-main;
    color: white;
    border: none;
  }

  label {
    color: #000;
  }

  .saveButton {
    background-color: $brand-main;
  }

  .progress {
    height: 34px;
    margin: auto;
    padding: 0;
    border: 0;
    opacity: 0.6;
  }
}

.clickArea {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}